[submodule "doc/wiki"]
	path = doc/wiki
	url = https://github.com/lreis2415/SEIMS2017.wiki.git
[submodule "seims/pygeoc"]
	path = seims/pygeoc
	url = git@github.com:lreis2415/PyGeoC.git
[submodule "seims/src/commonlibs/RasterClass"]
	path = seims/src/commonlibs/RasterClass
	url = git@github.com:lreis2415/RasterClass.git
[submodule "seims/src/commonlibs/FileIOClass"]
	path = seims/src/commonlibs/FileIOClass
	url = git@github.com:lreis2415/FileIOClass.git
[submodule "seims/src/metis"]
	path = seims/src/metis
	url = git@github.com:lreis2415/metis.git
[submodule "seims/src/commonlibs/UtilsClass"]
	path = seims/src/commonlibs/UtilsClass
	url = git@github.com:lreis2415/UtilsClass.git
[submodule "seims/src/commonlibs/MongoUtilClass"]
	path = seims/src/commonlibs/MongoUtilClass
	url = git@github.com:lreis2415/MongoUtilClass.git
