#
# CAUTION:
#         DO NOT RUN `pip install -r requirements.txt` BY YOURSELF!
# Usage:
#       conda env create -f pyseims_env.yml
#       or
#       conda env create -f py27seims_env.yml
#
SALib>=1.3;python_version>'3'
# SALib uses PyScaffold which is not compatible with Py27 since version 3.
#   So, I decided to use SALib 1.2 for Py27.
SALib<1.3;python_version<'3'

# scoop, latest
https://github.com/soravux/scoop/archive/master.zip

# DEAP, latest
https://github.com/DEAP/deap/archive/master.zip

# PyGeoC, latest
https://github.com/lreis2415/PyGeoC/archive/master.zip
