
###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
*.tif   binary
*.pdf   binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain
# others
*.xml   diff=astextplain
*.css   diff=astextplain
*.html   diff=astextplain
*.js   diff=astextplain

*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.java text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.cmake text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto